{% extends "FastVPSCpanelBundle::layout.html.twig" %}

        {% block content %}

        {{ parent() }}

        <div id="newhost_button"><a class="pure-button" href="{{ path('fast_vps_cpanel_newhost') }}">New Host</a></div>

        <table id="hostlist">
            <tr>
                <td><strong>Host</strong></td>
                <td><strong>Full path</strong></td>
                <td><strong>Created at</strong></td>

            </tr>
            {% for host in hosts %}
            <tr id="hostrow">
                <td>{{ host.hostname }}</td>
                <td>{{ host.hostPoolDir }}/{{ host.hostname }}</td>
                <td>{{ host.creationDate|date('Y-m-d') }}</td>
                <td><div class="edithost_button">
                        <a class="pure-button" href="{{ path('fast_vps_cpanel_edithost', { 'id': host.id }) }}">
                            Edit</a>
                    </div></td>
                <td><div class="removehost_button">
                        <a class="pure-button" href="{{ path('fast_vps_cpanel_removehost', { 'id': host.id }) }}">
                            Remove</a></div></td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}